@using GMLink.Controllers
@model IEnumerable<Purchase>

@if (Model.Count() > 0)
{ 

<table class="table table-bordered table-striped">
        <tr>
            <th>OderNumber</th>
            <th>User Name</th>
            <th>Group Name</th>
            <th>Game Master</th>
            <th>Date and Time</th>
            <th> Session Details</th>
            <th> Session Price</th>
         </tr> 
             @foreach (Purchase p in Model)
             {
                 if (p.UserName.Equals(AccountController.CurrentUser.UserName) || AccountController.CurrentUser.UserName == "Admin123")
                 {
                     <tr>
                     <td>@p.PurchaseID</td>
                     <td>@p.UserName</td>
                     <td>@p.GroupName</td>
                     </tr>
                 }

                @foreach (CartLine line in p.Lines)
                {
                if (p.UserName.Equals(AccountController.CurrentUser.UserName) || AccountController.CurrentUser.UserName == "Admin123")
                {
                     <tr>
                     <td colspan="3"></td>
                     <td>@line.Reservation.GameMaster</td>
                     <td>@line.Reservation.Date</td>
                     <td>@line.Reservation.About</td>
                        <td>@line.Reservation.Price.ToString("c")</td>
                    </tr>
                }
                }
             
 }

 </table>
}
else
{ 
 <div class="text-center">No Reservations Orders</div>
}
