@using GMLink.Controllers
@model IEnumerable<Reservation>
@{
    ViewBag.Title = "All Reservations";
    Layout = "_Layout";
}
<table class="table table-striped table-bordered table-condensed">
    <tr>
       
        <!--<th class="text-right">ID</th>-->
        <th>Date and Time</th>
        <th>Discription</th>
        <th class="text-right">Price</th>
        <th class="text-center">Booked by</th>
        <th class="text-center">Change Offered Reservations</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.GameMaster == AccountController.CurrentUser.UserName || AccountController.CurrentUser.UserName == "Admin123")
        {
            <tr>
                <!--<td class="text-right">@item.ReservationID</td>-->
            <td class="text-right">@item.Date Start at: @item.StartTime End at: @item.EndTime</td>
            <td>@item.About</td>
            <td class="text-right">@item.Price.ToString("c")</td>
            <td>@item.Description</td>
            <td class="text-center">
                    <form asp-action="DeleteReservation" method="post">
                        @if (item.Description == null || AccountController.CurrentUser.UserName == "Admin123")
                        {
                            <a asp-action="EditReservations" class="btn btn-sm btn-warning"
                            asp-route-reservationId="@item.ReservationID">
                            Edit reservation
                             </a>
                    }
                    <input type="hidden" name="ReservationID" value="@item.ReservationID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Cancel Offering
                    </button>
                </form>
            </td>
        </tr>
        }
    }
</table>
<div class="text-center">
    <a asp-action="CreateReservation" class="btn btn-primary">Add Reservation</a>
</div>