@using GMLink.Controllers
@model IEnumerable<AppUserDetail>
@{
    Layout = "_Layout";
}

@foreach (var p in Model)
{
    if (p.Username.Equals(AccountController.CurrentUser.UserName))
    {
        <div class="card m-3 rounded">
            <div class="card-block m-2">
                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-AppUserDetailID="@p.AppUserDetailID">Edit</a>
                <a asp-controller="Reservation" asp-action="myReservations" class="btn btn-sm btn-info">View and Edit Reservations</a>
                <a asp-controller="GMBookings" asp-action="ViewBookings" class="btn btn-sm btn-warning"> View Past Orders</a>
                <a asp-controller="Account" asp-action="Logout" class="btn btn-sm btn-dark">Log out</a>
            </div>
            <p>Name: @p.FirstName @p.LastName</p><br>
            <p>Email: @p.Email</p><br>
            <p>Phone number: @p.PhoneNumber</p><br>
            <p>Address: @p.Address</p><br>           
        </div>
    }
} 